@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IM_Hyemin';
  src:
    url('/assets/fonts/IM_Hyemin-Bold.ttf') format('truetype'),
    url('/assets/fonts/IM_Hyemin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fafaf8; /* 배경 */
  --main-text: #333333; /* 텍스트 색상 */
  --main-yellow: #ffd939; /* 메인 노랑 */
  --bg-yellow: #fffdec; /* 배경 노랑 */
  --content-yellow: #fff399; /* 버튼에 들어가는 노랑 */
}

body {
  color: var(--main-text);
  font-family: 'IM_Hyemin', sans-serif;
  font-size: 16px;
}
