@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IM_Hyemin';
  src:
    url('/assets/fonts/IM_Hyemin-Bold.ttf') format('truetype'),
    url('/assets/fonts/IM_Hyemin-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #fafaf8; /* 배경 */
  --main-text: #565656; /* 텍스트 색상 */
  --main-yellow: #ffd939; /* 메인 노랑 */
  --bg-yellow: #fffdec; /* 배경 노랑 */
  --content-yellow: #fff399; /* 버튼에 들어가는 노랑 */
}

body {
  color: var(--main-text);
  font-family: 'IM_Hyemin', sans-serif;
  font-size: 16px;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.ProseMirror:focus {
  outline: none;
  box-shadow: none;
}

.ProseMirror p.is-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #a0aec0; /* Tailwind의 gray-400 정도 색상 */
  pointer-events: none;
  height: 0;
  user-select: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply rounded-[5px] bg-[#eae9e9];
}

::-webkit-scrollbar-thumb {
  @apply rounded-[5px] bg-[#c6c6c6];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#9f9f9f];
}

.react-calendar {
  width: 100% !important;
  border: none;
  border-color: #ffd939 !important;
  font-family: 'IM_Hyemin', sans-serif !important;
  background-color: #fffdec !important;
  padding: 16px;
  border-radius: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button:hover {
  background: none !important;
}

.react-calendar__navigation button {
  background: none !important;
  box-shadow: none !important;
  border: none;
  color: #333;
  font-weight: 500;
  padding: 6px 10px;
  transition: none;
}

/* active 상태도 배경 없음 */
.react-calendar__navigation button:active {
  background: none !important;
}

.react-calendar__navigation__label:hover,
.react-calendar__navigation__arrow:hover {
  color: #ffd939 !important;
}

.react-calendar__tile {
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.react-calendar__tile:hover {
  background-color: #fff399 !important;
  color: #565656 !important;
}

.react-calendar__tile--now {
  color: #00796b !important;
  background: #00796b3a !important;
}

.react-calendar__tile:focus,
.react-calendar__tile--active {
  background: #fff399 !important;
  color: #565656 !important;
  outline: none !important;
  box-shadow: none !important;
}

/* 페이지네이션 기본 색상 */
.swiper-pagination-bullet {
  background-color: #e5e7eb !important;
  opacity: 1 !important;
}

/* 현재 페이지네이션 색상 */
.swiper-pagination-bullet-active {
  background-color: #ffd600 !important;
}
